<div class="container">
    
    <form [formGroup]="signupForm" (ngSubmit)="signup()" method="post">
        <h1>Register</h1>
        <div class="form-group">
         
          <input type="text" class="form-control" formControlName="name" aria-describedby="emailHelp" placeholder="Username">
        </div>
        <div class="form-group">
         
            <input type="email" class="form-control" formControlName="mail"  aria-describedby="emailHelp" placeholder="Email">
          </div>
          <div class="form-group">
         
            <input type="number" class="form-control" formControlName="contact"  aria-describedby="emailHelp" placeholder="Contact">
          </div> 
          <div class="form-group mb-4">
          
            <input type="password" class="form-control" formControlName="pwd"  placeholder="Password">
          </div>
        <input type="submit" class="btn btn-primary mb-4" value="Register">
        <p>Already have an account? <a routerLink="/Login">Login</a></p>
      </form>
    </div>
